.contacts {
  min-height: 850px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.contacts .text-block {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contacts .title {
  position: relative;
  font-size: 6em;
  font-weight: 600;
  font-family: "Ubuntu Condensed", sans-serif;
  margin: 50px 0 0;
}

.contacts .title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: calc(100% - 1.5em);
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: #940101;
  opacity: 0.5;
  z-index: -1;
}

.contacts .text-block p {
  font-size: 1.8em;
  line-height: 1.8em;
}
