.form-group {
  position: absolute;
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form-group .inputBx {
  position: relative;
  width: 100%;
}

.form-group .inputBx input,
.form-group .inputBx textarea {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.form-group .inputBx textarea {
  resize: none;
  overflow: hidden;
}

.form-group .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #940101, #9c3838);
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.form-group .inputBx input[type="submit"]:hover {
  transform: scale(1.1);
}

.form-group .inputBx input::placeholder,
.form-group .inputBx textarea::placeholder {
  color: #adadad;
}

@media (max-width: 768px) {
  .form-group {
    width: 80vw;
  }

  .form-group .inputBx input,
  .form-group .inputBx textarea,
  .form-group .inputBx input[type="submit"] {
    width: calc(100% - 40px);
    font-size: 1em;
  }
}
