.item-top {
  position: relative;
  height: 100%;
  flex: 0 0 10%;
  transition: 0.4s ease;
}

.item-top.active {
  flex: 1 10%;
}

.item-top .desc {
  display: none;
  position: absolute;
  width: 500px;
  height: auto;
  font-size: 1.2em;
  left: 50%;
  bottom: 80px;
  padding: 20px 15px;
  border-radius: 30px;
  color: #f9f9f9;
  backdrop-filter: blur(70px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
}

.item-top.active .desc {
  display: block;
}

.item-top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.item-top.active::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.item-top:not(.active) {
  cursor: pointer;
}

.item-top .title {
  width: 800px;
  position: absolute;
  font-size: 2em;
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
  left: -240px;
  bottom: 390px;
  transform: rotate(270deg);
  text-align: left;
  z-index: 2;
  transition: all 0.4s ease;
}

.item-top.active .title {
  font-size: 3em;
  left: 320px;
  bottom: 380px;
}
