.list-facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  max-width: 76.43vw;
  padding: 0;
  margin: 100px auto 0;
}
/*
@media (max-width: 1440px) {
  .list-facts {

  }
} */