.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: blanchedalmond;
}

.swiper-slide > .slide-description {
  --p: 300px; /* control the shape (can be percentage) */
  width: 900px;
  height: 100%;
  aspect-ratio: 1;
  clip-path: polygon(0 0, calc(100% - var(--p)) 0, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  padding: 0 60px;
}

.swiper-slide .title {
  max-width: 600px;
  font-size: 5rem;
  font-weight: 600;
  font-family: "Ubuntu Condensed", sans-serif;
}

.swiper-slide .description {
  max-width: 650px;
  line-height: 1.9;
  font-weight: 500;
  text-overflow: ellipsis;
  text-wrap: balance;
}

.swiper-slide .description::after {
  margin-left: -4px;
}

.swiper-slide .button {
  width: 250px;
  height: 50px;
  text-align: center;
  align-self: center;
  border-radius: 15px;
  margin: 50px 125px 0 0;
  padding: 5px 0px;
  transition: all 0.2s ease-out;
}

.swiper-slide .button:hover {
  scale: 1.1;
  box-shadow: rgba(224, 224, 224, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.swiper-slide .button a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.5em;
}

@media (max-width: 1220px) {
  .swiper-slide > .slide-description {
    width: 700px;
  }

  .swiper-slide .title {
    max-width: 400px;
    font-size: 3rem;
  }

  .swiper-slide .description {
    max-width: 450px;
    line-height: 1.6;
  }
}

@media (max-width: 1024px) {
  .swiper-slide > .slide-description {
    width: 650px;
  }

  .swiper-slide .description {
    max-width: 400px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1024px) {
  .swiper-slide {
    align-items: end;
  }

  .swiper-slide > .slide-description {
    --p: 0px;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 10px;
  }

  .swiper-slide .title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .swiper-slide .description {
    max-width: 450px;
    line-height: 1.6;
    -webkit-line-clamp: 3;
  }

  .swiper-slide .button {
    width: 200px;
    height: 50px;
    margin: 20px 0 0 0;
  }
}
