.to-down {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0px auto 50px;
  animation: slize 2s linear infinite;
}

.to-down:hover {
  background-color: rgb(196, 13, 13);
  cursor: pointer;
}

.to-down svg {
  width: 70%;
  height: 70%;
  fill: #fff;
  margin: 8px auto;
}

@keyframes slize {
  0% {
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-120%);
  }
}

@media (max-width: 1440px) {
  .to-down {
    margin-top: 150px;
  }
}

@media (max-width: 1024px) {
  .to-down {
    display: none;
  }
}
